<form>

    <button class="button is-outlined is-fullwidth btn-move-to-shipping">CHANGE SHIPPING</button>
    <div class="order-form-title active">2. BILLING</div>

    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input name="firstAndLastNae" class="input" type="text" placeholder="Text input">
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Card Number</label>
                <div class="control">
                    <input name="cardNumber" class="input" type="text" placeholder="Text input">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">CVC</label>
                <div class="control">
                    <input name="cvcValue" class="input" type="text" placeholder="Text input">
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Exp Month</label>
                <div class="control">
                    <input name="expMonth" class="input" type="text" placeholder="Text input">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Exp Year</label>
                <div class="control">
                    <input name="expYear" class="input" type="text" placeholder="Text input">
                </div>
            </div>
        </div>
    </div>




    <div class="field">
        <div class="control">
            <button class="button is-link btn-move-to-confirm">NEXT(CONFIRM)</button>
        </div>
    </div>
</form>