<li>
    <div class="media">
        <figure class="media-left">
            <figure class="image is-96x96">
                <img src="product.imageUrl">
            </figure>
        </figure>
        <div class="media-content">
            <div class="content">
                <p class="title is-4 no-padding">product.name</p>
                <p class="subtitle is-6">Price: $totalPrice</p>
                <div class="itemQuantity">
                    <input type='button' value='-' class='qtyminus' data-code="product.code"/>
                    <input type='text' name='qty' value='quantity' class='qty' />
                    <input type='button' value='+' class='qtyplus' data-code="product.code" />
                    <input type='button' value='X' class='qtyZero' data-code="product.code" />
                </div>
            </div>
        </div>
    </div>
</li>