<div class="facets">
    <div class="facet gender" data-facet-code="gender">
        <h5 class="facet-title">GENDER</h5>
        <ul>
            <li><a name="womens">Womens (10)</a>
            </li>
            <li><a name="mens">Mens (10)</a>
            </li>
        </ul>
    </div>
    <div class="facet category" data-facet-code="category">
        <h5 class="facet-title">CATEGORY</h5>
        <ul>
            <li><a name="shirts">Shirts (10)</a>
            </li>
            <li><a name="swets">Swets (10)</a>
            </li>
        </ul>
    </div>
    <div class="facet brand" data-facet-code="brand">
        <h5 class="facet-title ">BRAND</h5>
        <ul>
            <li><a name="brand1">Brand1 (10)</a>
            </li>
            <li><a name="brand2">Brand2 (10)</a>
            </li>
        </ul>
    </div>
    <div class="facet price" data-facet-code="price">
        <h5 class="facet-title">PRICE RANGE</h5>
        <ul>
            <li> <label class="checkbox">
                    <input name="$0-$19.99" type="checkbox">
                    $0-$19.99 (10)
                </label>
            </li>
            <li><label class="checkbox">
                    <input name="$20-$49.99" type="checkbox">
                    $20-$49.99 (2)
                </label></a>
            </li>
        </ul>
    </div>
</div>