<div class="container is-fluid">
    <div class="level">
        <div class="level-left">
            <div class="level-item">My Cart</div>
        </div>
        <div class="level-right">
            <div class="level-item">total items: itemCount</div>
        </div>
    </div>
    <div class="items">
        <div class="item">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <img src="/resources/images/products/96Wx96H/hybris-merch-tshirt-men.jpg"
                            alt="Image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p class="title is-4">product.name</p>
                        <p class="subtitle is-6">$item.totalPrice</p>
                    </div>
                </div>
                <div class="media-right">
                    <button class="delete"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="button is-fullwidth is-primary view-cart">VIEW CART</button>
    </div>
</div>