<form>
    <button class="button is-outlined is-fullwidth btn-move-to-shipping">CHANGE SHIPPING</button>
    <button class="button is-outlined is-fullwidth btn-move-to-billing">CHANGE BILLING</button>
    <div class="order-form-title">3. CONFIRM ORDER</div>
    <div class="columns">
        <div class="column"><strong>Order Total</strong></div>
        <div class="column order-total">$order.totalPrice</div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-link btn-move-to-submit">CONFIRM</button>
        </div>
    </div>
</form>