<div class="column is-one-third">
    <div class="card large round">
        <header class="card-header">
            <p class="card-header-title">
                product.name
            </p>
        </header>
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-96x96">
                        <img src="product.imageUrl">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4 no-padding"></p>
                    <p><span class="title is-6"></p>
                    <p class="subtitle is-6">product.price</p>
                </div>
            </div>
            <div class="content">
                <button class="button add-cart-button" data-code="product.code">Add to Cart</button>
                <button class="button detail" data-code="product.code">Details</button>
            </div>
        </div>
    </div>
</div>