<div class="card large">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-400x400">
                    <img src="product.imageUrl" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">product.name</p>
                <p class="subtitle is-6">product.price</p>
                <a class="button is-primary is-fullwidth btn-add-cart">Add to Cart</a>
            </div>
        </div>
        <div class="content">
            product.description
        </div>
    </div>
</div>
