<form>
    <div class="order-form-title">1. SHPPING</div>

    <div class="field">
        <label class="label">Shipping Method</label>
        <div class="control">
            <div class="select">
                <select name="shippingMethod">
                    <option value="2day">2nd day</option>
                    <option value="free7days">Free - 7 days</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input name="fistAndLastName" class="input" type="text" placeholder="Text input">
        </div>
    </div>
    <div class="field">
        <label class="label">Address One</label>
        <div class="control">
            <input name="addressOne" class="input" type="text" placeholder="Text input">
        </div>
    </div>
    <div class="field">
        <label class="label">Address Two (optional)</label>
        <div class="control">
            <input name="addressTwo" class="input" type="text" placeholder="Text input">
        </div>
    </div>

    <div class="field">
        <label class="label">Zip code</label>
        <div class="control">
            <input name="zipCode" class="input" type="text" placeholder="Text input">
        </div>
    </div>
    <div class="columns">

        <div class="column">
            <div class="field">
                <label class="label">City</label>
                <div class="control">
                    <input name="city" class="input" type="text" placeholder="Text input">
                </div>

            </div>
        </div>
        <div class="column">

            <div class="field">
                <label class="label">State</label>
                <div class="control">
                    <div class="select">
                        <select name="state">
                            <option value="" disabled="disabled" selected="selected">
                                State</option>
                            <option value="US-AA">AA</option>
                            <option value="US-AE">AE</option>
                            <option value="US-AP">AP</option>
                            <option value="US-AL">Alabama</option>
                            <option value="US-AZ">Arizona</option>
                            <option value="US-AR">Arkansas</option>
                            <option value="US-CA">California</option>
                            <option value="US-CO">Colorado</option>
                            <option value="US-CT">Connecticut</option>
                            <option value="US-DE">Delaware</option>
                            <option value="US-DC">District of Columbia</option>
                            <option value="US-FL">Florida</option>
                            <option value="US-GA">Georgia</option>
                            <option value="US-ID">Idaho</option>
                            <option value="US-IL">Illinois</option>
                            <option value="US-IN">Indiana</option>
                            <option value="US-IA">Iowa</option>
                            <option value="US-KS">Kansas</option>
                            <option value="US-KY">Kentucky</option>
                            <option value="US-LA">Louisiana</option>
                            <option value="US-ME">Maine</option>
                            <option value="US-MD">Maryland</option>
                            <option value="US-MA">Massachusetts</option>
                            <option value="US-MI">Michigan</option>
                            <option value="US-MN">Minnesota</option>
                            <option value="US-MS">Mississippi</option>
                            <option value="US-MO">Missouri</option>
                            <option value="US-MT">Montana</option>
                            <option value="US-NE">Nebraska</option>
                            <option value="US-NV">Nevada</option>
                            <option value="US-NH">New Hampshire</option>
                            <option value="US-NJ">New Jersey</option>
                            <option value="US-NM">New Mexico</option>
                            <option value="US-NY">New York</option>
                            <option value="US-NC">North Carolina</option>
                            <option value="US-ND">North Dakota</option>
                            <option value="US-OH">Ohio</option>
                            <option value="US-OK">Oklahoma</option>
                            <option value="US-OR">Oregon</option>
                            <option value="US-PA">Pennsylvania</option>
                            <option value="US-RI">Rhode Island</option>
                            <option value="US-SC">South Carolina</option>
                            <option value="US-SD">South Dakota</option>
                            <option value="US-TN">Tennessee</option>
                            <option value="US-TX">Texas</option>
                            <option value="US-UT">Utah</option>
                            <option value="US-VT">Vermont</option>
                            <option value="US-VA">Virginia</option>
                            <option value="US-WA">Washington</option>
                            <option value="US-WV">West Virginia</option>
                            <option value="US-WI">Wisconsin</option>
                            <option value="US-WY">Wyoming</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-link btn-move-to-billing">NEXT(BILLING)</button>
        </div>
    </div>
</form>